# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
# ordered list
# Python
# R
# C++

# Some of the commonly used libraries used by Data Scientists include:
# ordered list
# Pandas
# Matplotlib
# Scikit

In [6]:
import pandas as pd

# Create a DataFrame with one column and three rows
data = {'Data Science Tools': ['Jupyter Notebook/JupyterLab', 'RStudio ', 'VSCode']}
df = pd.DataFrame(data)

# Display the DataFrame
df

            Data Science Tools
0  Jupyter Notebook/JupyterLab
1                     RStudio
2                       VSCode

# Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers.

In [7]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60.

In [9]:
# Convert minutes to hours
hours = 200 / 60
hours

3.3333333333333335

# Objectives:
# unordered list
# List popular languages for Data Science
# [Python, R, C++ ]
# Some of the commonly used libraries used by Data Scientists include:
# [Pandas
# Matplotlib
# Scikit]

## Author
## name